
.mainBoxContainer{
    background-color: #2d492d;
    border: 2px solid #22282b;
    position: absolute;
    padding-left: 130px;
    min-height: 100vh;
}

.header{
    background-color: #1b332c;
    border: 3px solid #22282b;
    padding: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.boxSearch{
    color: black;
}

.optimalBoxSearchContainer{
    background-color: #444c50;
    border: 1px solid black;
    height: 90%;
    text-align: center;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    padding: 5px;
    margin-left: 15px;
    min-width: 400px;
    max-width: 600px;
}

.button{
    background-color: #F06B02;
    color: white;
    height: 50px;
    
    margin: auto;
    padding: 10px;
    list-style: none;
    border: 2px solid #c05707;
    transition: background-color 0.07s;
}
.button:hover{
    background-color: #fc7c1b;
}
.button:active{
    background-color: #b34d00;
    border: 2px solid #b34d00;
    color: rgba(255, 255, 255, 0.774);
}
.hidden{
    display: none;
}
.boxEditContainer{
    background-color: #444c50;
    border: 1px solid black;
    height: 100%;
    padding: 5px;
}

.boxEdit{
    display: grid;
    grid-template-columns: 2fr 2fr 1fr;
    
}

.boxDimensions{
    height: 15px;
}
.searchByNumber{
    width: 70%;
}

.boxContainer{
    height: 100px;
    background-color: rgba(65, 95, 65, 0.466);
    margin: 10px;
    display: grid;
    grid-template-columns: 150px 150px 300px 1fr;
    align-content: center;
    
}
.boxismatavimai, .informacija{
    display: grid;
    grid-template-columns: 100px;
    height: 100%;
}

.boxIcon{
    height: 5rem;
    padding: 5px;
}
.trashIcon{
    height: 50%;
}

.delete{
    height: 50%;
    background-color: #2d492d;
}

.qrcode{
    cursor: pointer;
}
.hide{
    display: none;
}
span input{
    color: black;
}

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
}