.navigationBarContainer {
  z-index: 9999;
  max-width: 130px;
  padding: 10px 0px 0;
  background-color: #F06B02;
  justify-content: center;
  height: auto;
  min-height: 98vh;
  display: absolute;
}

.appName {
  margin: 10px 0 0;
  height: 100px;
  text-align: center;
}

.restorieLogo {
  width: 100px;
  object-fit: contain;
}

.restorieAdmin {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

.navigationIcons {
  display: flex;
  flex-direction: column;
  color: white;
}

.navButton{
  border: none;
  background-color: #F06B02;
  color: white;
  transition: background-color 0.1s;
  margin-bottom: 10px;
  display: grid;
  grid-template-columns: 40px 1fr;
  align-items: left;
  place-content: left;
  text-align: left;
}

.navButton:hover{
  background-color: #cf5a00;
  zoom: 1.1;
}

.navButton:active{
  background-color: #aa4a00;
}
.navIcon{
  width: 30px;
}